<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Saída de Pessoa</title>

</head>
<body>
        <!-- Menu de navegação -->
        <div class="navigation">
            <h1>Cadastro de Saída de Pessoa</h1>
            <ul>
                <li><a href="limpar" onclick="document.getElementById('saidaForm').reset(); return false;">Limpar Campos</a></li>
                <li><a href="entrada" onclick="window.location.href='entrada.html'; return false;">Entrada de Pessoa</a></li>
                <li><a href="deslogar" onclick="window.location.href='logout.html'; return false;">Deslogar</a></li>
            </ul>
        </div>
    <form id="saidaForm" action="ProcessarSaidaServlet" method="post">
        <label for="buscaPor">Buscar por:</label>
        <select id="buscaPor" name="buscaPor">
            <option value="nome">Nome</option>
            <option value="cpf">CPF</option>
        </select>
        <br><br>
        <label for="termo">Termo de Busca:</label>
        <input type="text" id="termo" name="termo" required>
        <br><br>
        <button type="submit">Confirmar Saída</button>
    </form>
</body>
</html>